/**
 * This is an example test. You can use this skeleton to do other tests.
 * You need to write some description here because everyone need to know what 
 * you are doing with this unit test. Don't be an ass please.
 * Please **pay attention** to stay in 80 columns.
 * 
 * The name of the file **must** be 'classNameTest.ts'.
 */

import * as someThing from "../src/your/path"; // Import what you need
import * as Chai from "chai"; // You need assertions. Trust me.

describe("NameOfYourTest", () => {

    let toTest : someThing; // Name of the object to test

    // Call one of the many function that are in the Mocha framework
    beforeEach(function () : void {

        toTest = new someThing(); // You can do something before every test
    });

    // This function starts a single test
    describe("#nameOfWhatYouAreTesting", () => {
        it ("should <say what it should do>", () => {

            // Your code here

            Chai.expect(toTest.sayHello( name )).to.equal( "Hello Derp" ); // A example of a assertion
        });

    });

    /**
     * Now if you want to test another method you have to write another 
     * 'describe' function (see line 24-32).
     * 
     * That's all. Happy hacking! :)
     */

});