body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

table{
	margin-bottom: 25px;
}

/*---------------------------------------------------------------------------*/
/*------------------------------- CLASSES -----------------------------------*/
/*---------------------------------------------------------------------------*/
.divider{
	margin-bottom: 35px;
}


/*---------------------------------------------------------------------------*/
/*---------------------------------- ID -------------------------------------*/
/*---------------------------------------------------------------------------*/

#content{
	flex: 1 0 auto;
}

	#navMail{
		padding-right: 15px;
	}
	
	#contentBody {
		padding-top: 50px;
		padding-bottom: 50px;
	}

		#titles *{
			display: inline-block;
			padding-right: 15px;
		}

		#titles h4{
			padding-right: 30%
		}


#container {
	
}