html, body{
	height: 100%;
}

table{
	margin-bottom: 25px;
}

#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

	#navMail{
		padding-right: 15px;
	}
	
	#contentBody {
		padding-top: 50px;
		padding-bottom: 50px;
	}

		
		.divider{
			margin-bottom: 35px;
		}

		#titles *{
			display: inline-block;
			padding-right: 15px;
		}

		#titles h4{
			padding-right: 30%
		}


#footer, #footerPush {
	height: 4em;
}